[2017-10-17 08:53] hoof opened #1 "Support for utf-8 character encoding"
Just like: https://github.com/renatoathaydes/spock-reports/issues/18
This plugin cannot handle tests containing special characters. I'm guessing  `spec-template.html` and `summary-template.html` should include `<meta charset="utf-8" />` in the header section.
Hope to see an update soon.

[2017-10-18 09:53] tilmanginzel commented on #1
Hi @hoof,

I'll try to get to that as soon as possible, thanks for the hint!

[2017-10-18 11:39] tilmanginzel commented on #1
@hoof I just published version 0.1.2 which fixes this issue.

[2017-10-18 12:13] hoof commented on #1
Cool. I'll confirm asap, and get back to you.

[2017-11-09 10:29] tilmanginzel commented on #1
Hey @hoof, have you had any chance to verify it?

[2017-11-20 07:27] rosemead opened #3 "test errors: support for printing stack traces"
Hi.
Would be great to be able to add stack traces of failures onto the generated report.

[2017-11-20 22:50] tilmanginzel commented on #3
Hey @rosemead, I'll take a closer look at that when I find the time. I'm actually wondering why this does not work currently, but I will dig deeper.

[2017-11-20 22:52] tilmanginzel commented on #1
I'm gonna close this for now as it should be resolved. Feel free to reopen if the issue still occurs. :)

[2017-11-20 22:52] #1 closed

[2017-11-20 23:25] tilmanginzel commented on #3
I found a possible solution to access the stacktrace. I'll hope to publish a new version this or next week.

[2017-11-30 05:37] rosemead opened #5 "listener depends on label format in geb.spock.GebReportingSpec.createReportLabel"
Reports generated by calling browser.report directly will not have that label format, and will fail the listener.

https://github.com/AOEpeople/geb-spock-reports/blob/2e2bb52ad6d9e516ad0651e0dc35747a03acc801/src/main/groovy/com/aoe/gebspockreports/GebReportingListener.groovy#L35

[2017-11-30 08:01] tilmanginzel commented on #5
Hi @rosemead, good find. What is your idea on how to solve that? I guess these reports should be ignored if it is not possible to extract the necessary information from the label. But I will take a look at the label format when directly using browser.report, maybe the information is there, just formatted differently.

If you have another solution on how to extract all necessary information without

[2017-12-10 18:14] tilmanginzel commented on #3
I just published release v0.1.4 which adds a toggle button to show the stacktrace. It's not quite beautiful, but in a future release I plan to make a full redesign of the report anyway.

[2017-12-10 18:14] #3 closed

[2017-12-10 18:16] tilmanginzel commented on #5
Release v0.1.4 now catches exceptions in the GebReportingListener and therefore ignores the invalid label formats. Unfortunately I do not see any possibility to map those invalid labels to the actual feature and report, so ignoring them seems to be the only solution.

[2017-12-10 18:16] #5 closed

[2018-02-19 00:08] rosemead opened #6 "reporting from setupSpec/cleanupSpec"
Hi.
If you could take a look at https://github.com/rosemead/testreport1:

I've subclassed GebReportingSpec to allow creating reports from setup/cleanupSpec. I think I've got all my ducks in a row in terms of file locations & naming convention. But the reports aren't added onto the html report.

Would appreciate your feedback. Cheers

[2018-02-19 05:56] rosemead opened #7 "html report: Wrap text in <div class="problem list">"
Currently, when a long, unbroken line is added to the report, text extends beyond the right edge of the browser window. In some cases (errors reported from the driver, quoting driver specs, capabilities), line is pretty long. Would be good to wrap that text to the size of the visible window.

[2018-02-19 16:31] tilmanginzel commented on #7
Thanks, I will add this in the next version. Hopefully that won't take too long.

[2018-02-19 16:34] tilmanginzel commented on #6
Hi,

I will try to take a look soon. Just for clarification: Are only the setup/cleanup reports missing, or all reports?

[2018-02-19 23:30] rosemead commented on #6
Thanks. Yes, it is the reports generated in setup/cleanupSpec that are missing from the html report.
Forgot to mention : 'mvn verify' to execute the project, should you wish to see the results first-hand.

[2018-02-21 19:11] tilmanginzel commented on #6
So, this is a tricky one.

While the file location and naming conventions are correct, they never get picked up by the [spec-template.html](https://github.com/AOEpeople/geb-spock-reports/blob/master/src/main/resources/templates/spec-template.html#L124). This is because the setup/cleanup methods are not interpreted as _features_. Only test methods are features. The list of executed features is prov

[2018-02-24 10:56] rosemead commented on #6
Sounds great. Thumbs-up from me.

[2018-02-25 17:52] tilmanginzel commented on #6
Hi, so I just pushed a commit which fixes this issue.

While it's not really beautiful, the following area is now added to the html report. It was much easier to append it at the end of the report instead of the beginning, hope you don't mind.

<img width="810" alt="grafik" src="https://user-images.githubusercontent.com/3899565/36644578-97075aec-1a5c-11e8-8cb5-50a7ac218dd8.png">

I hope to publish

[2018-02-25 17:55] tilmanginzel commented on #6
By the way, after this is published your custom [report](https://github.com/rosemead/testreport1/blob/master/src/test/groovy/foo/MySpecBase.groovy#L31) function is not necessary anymore. You can simply call `browser.report("label")` from setupSpec/cleanupSpec. ;)

[2018-02-26 08:49] rosemead commented on #6
super! looking forward to it. Thanks heaps!

[2018-03-03 13:08] tilmanginzel commented on #7
Hi, I just implemented the following solution:

The layout is fixed to the currently maximum width of 800px. `<pre>` tags with code blocks or stacktraces are now horizontally scrollable. I did not want to wrap these as code and stacktraces are pretty hard to read with numerous word/line wraps.

I'll probably publish the version today. ;)

[2018-03-03 13:32] tilmanginzel commented on #7
Published in [v0.1.5](https://bintray.com/aoepeople/libraries/geb-spock-reports/0.1.5).

[2018-03-03 13:32] #7 closed

[2018-03-03 13:32] tilmanginzel commented on #6
Published in [v0.1.5](https://bintray.com/aoepeople/libraries/geb-spock-reports/0.1.5).

[2018-03-03 13:32] #6 closed

[2018-04-20 01:19] rosemead opened #8 "stale links in html report after re-running a spec"
E.G., if I
* execute a set of tests, among-which is TestFoo, which fails.
* fix and re-run TestFoo. Spec passes.
* inspect TestFoo.html.
Report contains links to "failure" screenshots, apparently from the preceding failed run.

If I delete `geb-report-info.json` before rerunning the fixed spec, the html report is fine.

[2018-04-20 16:06] tilmanginzel commented on #8
Hey @rosemead,

this is a known issue for which I don't know any solution. I would recommend to run `./gradlew clean` before executing the tests again if you want to have a clean report.

Unfortunately, as far as I know there is no way for the GebReportingListener to notice that a spec was re-run, so that old artifacts could be discarded. Do you have any idea?

[2018-05-14 16:32] durgeshshisode1988 opened #9 "how to apply if and OR if or condition in td tag in html file in geb spock report"
Hi @tilmanginzel

I am using athaydes reports for my geb spock html report. I am trying to modify the html report to get the status of the test case. For that I have added new column as 'Final Column' Below is html I am using:

[code]

Now my requirement is that if "${s.failures}" and "${s.errors}" and "${s.skipped}" are equal to zero, then only the value for column should come as "PASS" else it s

[2018-05-15 16:49] durgeshshisode1988 commented on #9
Hi Tilman,

Your first solution is working absolutely fine.
With the second solution I am getting partial correct results. I have attached the screenshot for the same.
<img width="626" alt="reports" src="https://user-images.githubusercontent.com/39194204/40071334-1389dbfc-588e-11e8-80d8-06ff4e33d993.PNG">

Thanks for the documentation, as I was struggling a bit to get the correct information.
Furt

[2018-05-15 17:10] tilmanginzel commented on #9
Hi,

unfortunately I don't know why `s.totalRuns` is zero in the first two rows (as seen in the Feature column). I would probably ignore the `if` altogether and simply use something like this:

[code]
I assume it is an edge case that _zero_ tests have been executed, therefore it's ok to show PASS in my opinion.

You could check out the following articles regarding the filtering, which do not requi

[2018-05-18 16:43] durgeshshisode1988 commented on #9
Hi Tilman,

This is working fantastic. It's exactly I wanted. Thanks so much for your help.
Small question. When the test case is completely failed then also the success rate is 100% and text is in red color. Initially it was quite confusing because test case is failed then the success rate should be 0%.

Thanks,
Durgesh

[2018-05-19 18:33] tilmanginzel commented on #9
Hi,

good question. Unfortunately I don't know and cannot reproduce it. All the values are provided by the [spock-reports](https://github.com/renatoathaydes/spock-reports) library, so I don't have much influence on it. This library basically only provides a new report template which adds screenshots taken by Geb to the report.

I am gonna close this issue for now. If you have any other questions,

[2018-05-19 18:33] #9 closed

[2018-05-21 10:44] durgeshshisode1988 opened #10 "Is there any way to add/print custom step/text in html reports"
Hi @tilmanginzel ,

I need your help to customize the reports if there is any provision. Please consider below scenario:
Scenario:
- I have below steps included in my spec file:

[code]

Now when the execution is done then below is the snapshot of report.

<img width="490" alt="gebreports" src="https://user-images.githubusercontent.com/39194204/40303632-2ca642d8-5d11-11e8-8d40-2210e49c3f31.PNG">

[2018-05-24 19:10] tilmanginzel commented on #10
Hi,

I'm quite busy the last few days, therefore the late response.

I just saw that [spock-reports](https://github.com/renatoathaydes/spock-reports) 1.4.0 added a feature for this, called `featureInfo`. By using it you can add any info or text to the report you want. Unfortunately, my library and template does not yet support this neat feature, as it is still based on spock-reports 1.3.1. So for

[2018-06-18 16:33] durgeshshisode1988 opened #11 "How to get step wise screenshots in html reports in case of failure"
Hi Tilman,

Please consider it as a enhancement request rather than issue.

When a particular spec file/test case gets passed we get the screen shot in the report for respective steps, like below picture.
<img width="615" alt="capture_pass" src="https://user-images.githubusercontent.com/39194204/41549311-0b59c97c-7343-11e8-8a7f-fa557c228a5d.PNG">

However, when a test case gets failed, then we get

[2018-06-18 19:20] tilmanginzel commented on #11
Hey Durgesh,

this seems to be an issue. Screenshots should only be placed at the bottom in rare cases, e.g. when they could not be mapped to the respective feature method. This was implemented in issue #6.

The following strikes me as odd:
* Step 1 is shown in gray, meaning it was ignored
* Apparently there was still a screenshot reported at the end of Step 1

Unfortunately I cannot reproduce thi

[2018-06-26 19:42] tilmanginzel commented on #11
Quick update: @durgeshshisode1988 found out that the problem is related to the @​Stepwise annotation. The problems appear in combination with a newer spock-reports version (>= 1.4.0). When using the currently supported version 1.3.1, it seems to work as expected.

I will keep this issue in mind once I finally update my template to the latest spock-reports version. In the meantime, using 1.3.1 miti

[2018-07-02 16:16] durgeshshisode1988 commented on #11
Hello Tilman,

Extremely sorry for the late reply. I was on vacation and didn't had access
to emails.   Yes, your suggestion is working for me, by using the version
as 1.3.1.

I am looking forward for the updated version for the same.

Also, I have did some changes to the template. Added search box, pagination
and pie-chart. If you can also add that to new template it would be great
from managemen

[2018-07-02 16:17] durgeshshisode1988 commented on #11
Hello @tilmanginzel ,

Yes, when I tried with version 1.3.1, is working fine for me. Looking forward for the changes in new updated version as well.

Thanks!

[2018-07-02 20:58] tilmanginzel commented on #11
Hi,

great to hear that it works with 1.3.1 for now.

I am happy to add more features to the template! Feel free to send me the code or provide a pull request. :)

[2018-07-03 16:53] durgeshshisode1988 commented on #11
Hi Tilman,

Its difficult from office network to send you zip file and also facing some
issues with git. Will figure it out and will send you project by tomorrow.

Thanks,
Durgesh

On Tue, Jul 3, 2018 at 2:28 AM, Tilman Ginzel <notifications@github.com>
wrote:

--
Thanks and Regards
Durgesh

[2018-07-03 21:12] tilmanginzel commented on #11
No hurries! :)

[2018-07-05 18:01] tilmanginzel commented on #11
Hey @durgeshshisode1988, where have you sent the files? You can also send it to me via mail to github@tilmanginzel.de

[2018-09-05 18:11] tilmanginzel commented on #11
I am gonna close this issue as this has been fixed in spock [1.2-RC2](https://github.com/spockframework/spock/blob/master/docs/release_notes.adoc#12-rc2-2018-09-04). The other changes Durgesh sent to me via mail will be added in the next release of geb-spock-reports.

[2018-09-05 18:11] #11 closed

[2018-09-17 11:54] subbu3397 opened #12 "Adding Screenshot in Report"
Can anyone help me to add a screenshot in reports. It's not working

[2018-09-25 13:18] subbu3397 commented on #9
Hi tilmanginzel,
                        I need the same solution as you have done above and I don't know how to override that existing HTML file with the modified one. can you help me out?

[2018-09-26 18:11] tilmanginzel commented on #9
Hey @subbu3397, this solution has been added to the library by now. I have not yet published a new version, but I hopefully can do so in the coming week. In the meantime, you could checkout from master and build the library for yourself.

Regarding your question on how to modify the template: This library is basically an example for that, as it's overwriting the templates from [spock-reports](http

[2018-09-28 09:17] #12 closed

[2018-10-06 19:46] tilmanginzel commented on #10
I have just published version 0.2.0 which adds the `reportInfo` and `reportHeader` features from spock-reports.

[2018-10-06 19:46] #10 closed

[2018-11-01 07:45] subbu3397 opened #13 "Index.html report generation"
May I know when will be the index.html file generated?

[2018-11-02 17:42] tilmanginzel commented on #13
HI @subbu3397, the index.html will be created when you run `./gradlew test`. I would recommend to always run `./gradlew clean test` to make sure that no old test results are part of the report.

[2018-11-26 14:36] rushby opened #15 "Calling geb.spock report() causes a file not found error in the Report"
I've put together a simple project here:  https://github.com/rushby/geb-spock-reports-test

You see I have commented out the call to "report" method in the spec:

https://github.com/rushby/geb-spock-reports-test/blob/master/src/test/groovy/hbi/specs/browser/GoogleTestSpec.groovy

If I run with that commented out everything is ok - report generates with 1 screenshot for each test run, however put t

[2018-11-26 17:02] #15 closed

[2018-11-26 17:02] rushby commented on #15
My mistake - issue was due to files not being deleted between runs.

[2018-11-26 17:17] tilmanginzel commented on #15
Hey @rushby, your understanding is correct. `report("someStuff")` should result in two separate screenshots, as the data table specifies two test runs. The issue is that you need to execute `mvn clean` between consecuitve test runs (same as #8).

The [GebReportingListener](https://github.com/AOEpeople/geb-spock-reports/blob/master/src/main/groovy/com/aoe/gebspockreports/GebReportingListener.groovy

[2018-11-26 17:18] tilmanginzel commented on #15
Well I typed too slow. ;) Anyway, explanation on why this doesn't work is above.

[2019-01-11 19:06] jacattau opened #16 "GebSampleSpec doesn't run due to geb.driver.DriverCreationException"
Checked out the project to run the sample code and see how it all works.  Really liking the looks of it so far, however when I wanted to test how it works with screenshots I tried to run GebSampleSpec.groovy and I get this error:

[code]

It seems to be related to extending GebReportingSpec, because all of the other sample specs work from extending Specification.

How does this work with screensho

[2019-01-11 19:24] jacattau commented on #16
Nevermind.  I fixed it by adding setting the system property of chromedriver in GebConfig.groovy

[code]

[2019-01-11 19:24] #16 closed

[2019-01-17 16:47] jacattau commented on #13
Hi @tilmanginzel, I am not getting an index.html either after implementing this into my project.  I have everything from your project into mine, but the only difference I can see is in `com.athaydes.spockframework.report.IReportCreator.properties` mine appears to be unused, where it is showing grey but yours is showing blue.  Could this be the issue and how would I resolve that?

[2019-01-17 17:06] jacattau commented on #13
I found the issue and I suspect @subbu3397 did the same thing.  When creating the META-INF folder it is META-INF/services and NOT META-INF.services.

That was confusing to distinguish based on how your project looked in IntelliJ.

[2019-01-17 19:43] tilmanginzel commented on #13
@jacattau Great to see that you have found the root cause. :)

[2019-01-24 17:38] jacattau opened #17 "Success rate in summary to reflect features pass/fails"
Hi there,

I'm liking this plugin, however one gripe I have is in the top summary section is the way the stats are presented.  For example, if I run one Spec file that has 10 features in it, and 9 pass and 1 fails, that is a 90% pass rate.  This is reflected correctly in the Specifications portion on bottom.  However in the top Summary section, total is 1, 0 passed, 1 failed, 0% success rate and t

[2019-01-24 18:00] trinidad8516 commented on #17
I am glad you like it, just for clarification the Summary section has statistics at the Specification Level (Class) where the Specifications section has statistics at Feature Level (Method). May be in the near future this could be an enhancement :) .

[2019-01-24 18:05] jacattau commented on #17
Thanks for the response.  I understand what is happening, I guess I just see value in having the "total" and the pie chart for the specification level as having more value because it's more accurate/descriptive.  I would be excited to see that as an enhancement!

[2019-01-24 18:55] tilmanginzel commented on #17
Hi @jacattau, thanks for the feedback! I can see that this can be a bit annoying. Currently I am relying on the [stats](https://github.com/AOEpeople/geb-spock-reports/blob/master/src/main/resources/templates/summary-template.html#L66) from [spock-reports](https://github.com/renatoathaydes/spock-reports), but I should not be too difficult to also show the success rate on a feature level here.

I wi

[2019-01-24 18:57] tilmanginzel commented on #13
@subbu3397 I am going to close this issue as no further context was provided. Feel free to reopen if you have further questions!

[2019-01-24 18:57] #13 closed

[2019-04-15 21:26] rdmueller opened #18 "missing screens when using where-block"
It seems that the report has some problems to assign geb artifacts to feature runs when the `where` block is used. At least, only the screenshots of the first run are assigned and the other are listed under "unassigned Geb Artifacts".

If `@Unroll()`-Annotation is used, no artifact can be assigned.

[2019-04-16 18:20] tilmanginzel commented on #18
Hey @rdmueller, thanks for the report. I will look into it and see what can be done.

[2019-04-16 19:20] tilmanginzel commented on #18
So, my current conclusion is:

* It is possible to correctly assign all artifacts if the `@Unroll` annotation is used, a small fix is necessary for that.
* Unfortunately, when using a data driven `where:` table without the `@Unroll` annotation, it does not seem to be possible to find a clean way to correctly assign the artifacts. For the report listener, each execution just looks like a new featur

[2019-04-16 19:32] rdmueller commented on #18
thanx for the quick analysis.

sounds ok to me 😎

[2019-04-16 20:18] tilmanginzel commented on #18
@rdmueller Feel free to test the just released version `0.2.3` :)

[2019-04-16 20:22] tilmanginzel commented on #8
I will close the issue as it is currently not possible to solve this. There is now a [note](https://github.com/AOEpeople/geb-spock-reports#caveats) in the readme to make aware of it.

Feel free to re-open if new ideas on possible fixes come up.

[2019-04-16 20:22] #8 closed

[2019-04-16 21:13] rdmueller commented on #18
@tilmanginzel thanx for this quick fix! That was awesome :-)
The artifacts are now indeed mapped to the right features when `@Unroll()` is used.
I still have a problem with the list of unmapped artifacts. It still shows _all_ artifacts. But this might be a problem with my own AsciiDoc template. Have to check it first...

[2019-04-17 05:05] #18 closed

[2019-04-17 13:54] tilmanginzel commented on #18
Good to hear that it's working again. :) Is there any way that I can support with the AsciiDoc template?

[2019-04-17 14:11] rdmueller commented on #18
thanx. I think I am fine now with the asciidoc template. I now collect a list of assigned artifacts and remove them from the list of unassigned. the result is perfect.

I will give you a ping as soon as it is ready 😀

[2019-04-18 00:19] BalurQA opened #19 "In Jenkins html report pie chart is not showing"
Hi,
I liked this plugin very and I have integrated with my project.

Generated HTML report in Jenkins is not same as report generated in Local system. In Jenkins HTML report Pie chart is missing.

Is there any additional plugins needed in Jenkins to showing pie chart.

Thanks,
Balur

[2019-04-18 15:52] tilmanginzel commented on #19
Hi @BalurQA,

can you check and update your Jenkins [settings](https://wiki.jenkins.io/display/JENKINS/Configuring+Content+Security+Policy) regarding the Content Security Policy? By default, execution of JavaScript and inline CSS (not used here) is not allowed in Jenkins. While I made sure that no resources are loaded from external urls and no inline CSS is used, I still required some JavaScript f

[2019-04-18 15:55] tilmanginzel commented on #19
You could try setting the `default-src 'self'` value.

[2019-04-18 17:27] BalurQA commented on #19
Hi @tilmanginzel ,

Thanks for quick response. Will give a try by setting `default-src 'self' ` value.

Will update in the result soon.

[2019-04-30 08:38] SergeyMogilevsky opened #20 "Using custom css styles"
Good day, guys!
Our project was using spock-reports for a pretty long time for API test reports but recently we starred doing UI auto testing and your reports are very helpful, thanks a lot for your work!

My question is as follows: does your report support custom css styles as the original spock-report does?

I did a couple of tries to make it work but with no luck... Is your styling hardcoded in

[2019-05-01 13:14] tilmanginzel commented on #20
Hey @SergeyMogilevsky, thanks for the kind words! :)

Right now, it does not support the configuration of a separate CSS file. But in the meantime, you should be able to simply overwrite the current css files and then make your adaptations.

1. Copy [`base.css`](https://github.com/AOEpeople/geb-spock-reports/blob/master/src/main/resources/templates/base.css), [`spec.css`](https://github.com/AOEpeo

[2019-05-01 13:25] rdmueller commented on #20
Hi @SergeyMogilevsky ,

as Tilman already said, you can overwrite the CSS. But you can even do more with the templating feature of Spock-Reports.

You might want to take a look at this repository https://github.com/docToolchain/SpockAsciiDocReports where I used the template feature of spock-reports to not only use another stylesheet but even use a different report template (it now creates AsciiDoc

[2019-05-01 13:34] tilmanginzel commented on #20
Indeed, the templating feature of spock-reports is quite nice, and only made this library (and others) possible! :) Writing a full-featured custom template can be quite some work though. So I think you should be able to add some custom css, without the need to manually copy the original files.

[2019-05-01 15:16] tilmanginzel commented on #20
@SergeyMogilevsky I have just published release v0.2.4 with the option to provide a custom css file. :)

I have also added some further documentation to the [readme](https://github.com/AOEpeople/geb-spock-reports#override-css).

[2019-05-02 06:54] SergeyMogilevsky commented on #20
@tilmanginzel @rdmueller guys, thank you so much for the help!
I will try and use this new feature asap.

[2019-05-02 06:54] #20 closed

[2019-05-05 13:04] tilmanginzel commented on #19
Hey @BalurQA, have you been able to update the Jenkins settings?

[2019-05-06 15:43] BalurQA commented on #19
@tilmanginzel ,
Could you please tell me where in Jenkins I can update `default-src `.  I tried my self but I am not finding the file suggested in Jenkins folder.

[2019-05-06 16:58] BalurQA commented on #19
@tilmanginzel : It is working fine now, I can see images in Jenkins report after setting default-src to safe. Thank you.

[2019-05-06 17:20] tilmanginzel commented on #19
Awesome! Good to hear, that it works now. :)

[2019-05-06 17:20] #19 closed

[2019-07-02 11:35] SamuelGraf opened #21 "Ignored tests are not recognized as such but are shown as regulary passed test in the report"
I found a case in which skipped tests are not recognized what can be misleading, so I thought you might be interested.
See: https://github.com/renatoathaydes/spock-reports/issues/177

[2019-07-02 15:05] tilmanginzel commented on #21
Hi @SamuelGraf, thanks for the issue, I wasn't aware of [`Assume`](https://junit.org/junit4/javadoc/4.12/org/junit/Assume.html) until now. :)

Let's see if this can be fixed in spock-reports (or even spock itself) and update the dependency here afterwards accordingly.

[2019-07-03 08:48] SamuelGraf commented on #21
As I was told by now this issue is a duplicate of renatoathaydes/spock-reports/issues/89 and people are working on it

[2019-07-26 14:06] BalurQA opened #22 "Keep old execution logs in jenkins and in local copy"
Hi,
I am using this report for Geb automation and I liked it.

I want to keep log all execution reports in Jenkins and local copy also when executed.

The report is showing specification(ex: BaseSpec) file as one test case which i do not want to show in the report.

Could you please help me here.

Thank you

[2019-07-26 16:28] tilmanginzel commented on #22
Hi @BalurQA, I am not sure I understand the question. Can you clarify it what it is you want to achieve or provide a small example project? Do you want to exclude specific specifications from the report?

[2019-07-26 19:52] BalurQA commented on #22
@tilmanginzel :
 Do you want to exclude specific specifications from the report? : **Yes** I want to exclude some specific specifications from the report or report should show only scripts executed from specific package.

Again  I want to maintain execution result(index.html) for every job which i trigger.

[2019-07-30 19:37] tilmanginzel commented on #22
Hi @BalurQA, sorry for the late response, quite busy lately.

How would you expect to use the exclusion? I could imagine some kind of configuration file where you can define all classes which should not be part of the generated report.

This is basically already exactly what is happening when you execute just a specific package containing specs. But, keep in mind that new executions of (other) spe

[2019-08-25 02:46] BalurQA commented on #22
Yes I want to copy/archive the complete report folder after executing the tests. Report folder should be based on date and time stamp.

[2019-08-27 16:10] jacattau opened #23 "Upgraded to Java 11 and reports no longer work"
Hello, I updated to Java 11 and from Gradle 4.10 to 5.2 and I am no longer getting reports generated.  I am getting this error after every test:

[code]
Is there something I am doing wrong?

[2019-09-05 13:09] jacattau commented on #23
Is this project not supported anymore?

[2019-09-05 19:32] tilmanginzel commented on #22
Hey @BalurQA, sorry for the late response, was on vacation.

I don't think that this export should be part of the library as it is very specific, but you can easily achieve this on your own. Just add the following to your `build.gradle` (adjust the paths if necessary):

[code]

Now, each time you run `./gradlew test`, the complete geb-spock-reports folder will be copied. I hope that fulfills your

[2019-09-05 19:35] tilmanginzel commented on #23
Hi @jacattau, it is but I was on a two week vacation. Will look into this as soon as possible.

[2019-09-05 20:44] tilmanginzel commented on #23
@jacattau thanks for the issue by the way! I have just pushed a fix and published version `0.2.5`.

The root cause was that a static class could not load resources correctly. I am not entirely sure why this was even working with Java 8, but it should be resolved now. Please retest. :)

[2019-09-06 13:51] jacattau commented on #23
Thank you and sorry for sounding inpatient!  I just got a big task assigned to be but I will try to test it as soon as I can.

[2019-09-09 13:07] jacattau commented on #23
Works great with the update. Thanks again!

[2019-09-09 13:07] #23 closed

[2019-09-09 15:18] BalurQA commented on #22
@tilmanginzel  : file import is not working in gradle file. Am I doing something wrong in copying this to gardle file.
import org.apache.commons.io.FileUtils

![image](https://user-images.githubusercontent.com/32229011/64543605-83b3df00-d2f3-11e9-9b6e-1cfcd2a11c9b.png)
![image](https://user-images.githubusercontent.com/32229011/64543639-929a9180-d2f3-11e9-9876-f661eb41cbf1.png)

[2019-09-09 16:46] tilmanginzel commented on #22
Hm, have you added the commons-io dependency?
[code]

[2019-09-09 18:03] BalurQA commented on #22
Yes I have added the above mentioned dependency.

[2019-09-09 18:06] tilmanginzel commented on #22
Is the error only shown by IntelliJ (might indicate a missing gradle refresh)? What is the exact error when you run a gradle task via command line?

[2019-09-09 18:13] BalurQA commented on #22
![image](https://user-images.githubusercontent.com/32229011/64555643-bf5aa300-d30b-11e9-97e4-5a849f306006.png)

I am getting above error when i was try clean the project in intellij.

Below is my complete gradle file.

[code]

[2019-09-09 18:36] tilmanginzel commented on #22
Hmm, I am clueless here. Some trial-and-error thoughts:
* Change `compileOnly` to `compile`
* [Use an older version of commons-io](https://stackoverflow.com/questions/38640592/apache-commons-io-dependency-error-in-build-gradle#comment64906977_38640592) (e.g. 2.5)
* Do not rely on FileUtils. In the end I just used the first search result on how to easily copy a complete folder. ;)

[2019-09-09 20:13] BalurQA commented on #22
@tilmanginzel  : Still facing the issue evening after downgrading the version to 2.4

`Build file 'C:\Users\\test\build.gradle' line: 110`
[code]

[2019-09-09 20:20] tilmanginzel commented on #22
Which Java and Gradle version are you using? Instant was added in Java 8. Maybe add `import java.time.Instant` helps, but it wasn't necessary in my case.

[2019-09-09 20:23] tilmanginzel commented on #22
For what it's worth, I just copied your `build.gradle` content above (commented out some dependencies), and it was working just fine.

Gradle 4.10
java version "1.8.0_172"

[2019-09-10 01:24] BalurQA commented on #22
Even I have same gradle version 4.10 and JAVA version in my system is  "1.8.0_181".

Can you copy paste the working `build.gradle` content here. I will try my side and update.

[2019-09-10 17:02] tilmanginzel commented on #22
Hi @BalurQA, while creating a fresh gradle project I was facing the same issue. I am not entirely sure why it was working in my previous sample project, but this bit seems to be required:

[code]

The `compileOnly` dependency is not necessary. Regarding the `Instant` issue, this should resolve it:
[code]

If you still have any issues, I will provide a full working example.

[2019-09-13 01:54] BalurQA opened #24 "Geb-Spock-Report is not generated when Jenkins job is aborted."
Hi @tilmanginzel ,

I am running my scripts via Jenkins with time limit of 240 mins, if script execution is not completed within this time, Jenkins aborts the execution. In this case geb-spock-report is not generated.

I would like to see the report for the executed scripts when script execution is aborted by Jenkins.

Thank You

[2019-09-14 11:31] tilmanginzel commented on #24
Hi @BalurQA, this is not possible.

This library primarily provides a template for [spock-reports](https://github.com/renatoathaydes/spock-reports), so I have no influence on the point in time when the summary report is being created. spock-reports registers itself as a global [Spock extension](http://spockframework.org/spock/docs/1.0/extensions.html). Once the test execution is done, Spock calls

[2019-09-14 16:22] trinidad8516 commented on #24
@BalurQA I think you probably want to use Spock @Timout http://spockframework.org/spock/docs/1.3/all_in_one.html#_timeout

[2019-10-03 17:23] tilmanginzel commented on #24
Closing this as it's not something that can or should be mitigated in this library.

[2019-10-03 17:23] #24 closed

[2020-03-03 18:02] treyturner opened #25 "Replace spaces or URLEscape screenshot/html filenames"
Hi there,
Would you consider having geb-spock-reports replace spaces in the PNG and HTML filenames with an underscore (or otherwise URL-escaping their filenames)? I'm attempting to publish my reports to Gitlab, but it can't handle spaces in these filenames, so the links end up broken. If you don't want to do this for everyone by default, it could still be useful to have this feature via configurat

[2020-03-03 23:02] tilmanginzel commented on #25
Hey @treyturner, I just checked and this seems to be a bit more complicated. I'll try to explain why.

The file name is generated by Geb itself, specifically [here](https://github.com/geb/geb/blob/master/module/geb-spock/src/main/groovy/geb/spock/GebReportingSpec.groovy#L59) and [here](https://github.com/geb/geb/blob/master/module/geb-core/src/main/groovy/geb/report/ReporterSupport.groovy#L26). As

[2020-03-06 19:51] treyturner commented on #25
That all makes sense, thanks for the detailed response!

[2020-03-29 15:29] tilmanginzel commented on #25
Hi @treyturner, I finally found some time to look into this. A fix is implemented in #26. Before merging, I want to test it on a larger code base in the coming days. I have attached a [current snapshot](https://github.com/AOEpeople/geb-spock-reports/files/4399138/geb-spock-reports-0.2.6-SNAPSHOT.jar.zip) in case you want to test this before I publish it.

The escaping can be enabled by a config fl

[2020-03-30 18:09] #25 closed

[2020-03-30 18:19] tilmanginzel commented on #25
@treyturner I just published version 0.2.6, hope everything now works as expected. :)

[2020-04-03 23:42] treyturner commented on #25
@tilmanginzel Oops, just got this! I'll check it out next week. Thanks so much for the fix!

[2020-05-04 13:34] jdelucaa opened #27 "Display screenshots on the same page"
I would like to customize the `Geb artifacts` section a little bit, like removing the links to the html files and have the screenshot displayed on the same page instead of being a link, is it possible?

[2020-05-04 18:43] tilmanginzel commented on #27
Hi @jdelucaa, I was actually thinking about adding thumbnails a long time ago, but never took the time to look into it. But you can achieve this quite easily in the meantime:

1. Copy the [spec-template.html](https://github.com/AOEpeople/geb-spock-reports/blob/master/src/main/resources/templates/spec-template.html) to your projects test resource folder
2. Make sure the reference to the template is

[2020-05-05 13:39] jdelucaa commented on #27
Hey @tilmanginzel , this was really helpful and it works!
Thanks for the quick response :D

Let's keep this open then, so it can be configurable.

[2020-05-20 00:20] treyturner opened #28 ".html spec reports not generated with spock-reports 2.0-RC2"
Hello! I was super stoked that [my request for Spock 2.0 support from `spock-reports`](https://github.com/renatoathaydes/spock-reports/issues/189) was addressed and built into an RC, and that seems to be working great! Unfortunately it also appears that my UI test project which additionally implements `geb-spock-reports` doesn't seem to play nice with it. Though I get a main index summarizing resu

[2020-05-21 13:38] tilmanginzel commented on #28
Hi @treyturner, thanks for the issue! I was watching your spock-reports issue and wanted to check if geb-spock-reports also needs to be updated accordingly. Logging is basically non-existant as of now, the template report creation will fail silently.

I suppose that there have been breaking changes in Spock 2.0, so I might need to incorporate those in my template. I should have some time for this

[2020-05-21 19:37] tilmanginzel commented on #28
Hey @treyturner, seems like the issue got auto-closed by merging my changes. I have published version `0.3.0-RC1`, please test if everything works as expected now and if not, just reopen the issue. :)

[2020-05-22 13:20] jacattau commented on #17
I just wanted to drop by to say I am still interested in this enhancement :)

[2020-05-23 22:29] tilmanginzel commented on #17
Hey @jacattau, do you have an idea on how this could be shown in the UI, without adding too much clutter?

**Proposal 1**: Adding another column `Feature success rate` to the summary table. This shouldn't be too difficult, but then it is unclear what the pie chart on the right refers to. Adding a second chart wouldn't really fit well here.
<img width="1019" alt="grafik" src="https://user-images.gi

[2020-05-26 14:49] treyturner commented on #28
@tilmanginzel It doesn't seem that I'm able to reopen the issue. I can create a new issue if desired, but here's what I'm seeing.

I do get .html spec generation now, but the artifacts show up together as a group at the bottom of the report (in a group called Unassigned Geb Artifacts) instead of attaching to their respective features. I also notice it's attempting to link three screenshots when on

[2020-05-26 17:29] jacattau commented on #17
I believe option 2 is closest to what I am picturing.  I believe the pie chart is showing the rate of the summary where I would rather have it show the rate of the specifications.

So using an example here.  If I have 5 features each with 10 tests inside of them and I run all the tests and 1 test fails that means 49/50 (98%) passed.  At the feature level that would say 4/5 passed (80%).  What I wo

[2020-05-27 00:16] ssulei7 commented on #28
I'm facing the same issue as well.

[2020-05-27 17:43] tilmanginzel commented on #28
Hi @treyturner, @ssulei7, thanks for the info. I can reproduce it with my sample project. No idea how I have missed that. :/

I was able to pin it down to an invalid label name in my generated `geb-report-info.json`. Previously, it was the name of the feature, e.g. `simple screenshot test`, now it's just always `fixture`, so my template cannot find the respective artifacts by that name. Will fix i

[2020-05-27 17:58] tilmanginzel commented on #28
Intermediate result: The test name is being provided by [GebReportingSpec#L26](https://github.com/geb/geb/blob/master/module/geb-spock/src/main/groovy/geb/spock/GebReportingSpec.groovy#L26) and then used to create a [report label](https://github.com/geb/geb/blob/master/module/geb-spock/src/main/groovy/geb/spock/GebReportingSpec.groovy#L59).

On previous versions, this value was set with the name o

[2020-05-27 18:11] tilmanginzel commented on #28
`@Rule TestName` does not work in JUnit 5 anymore, and it seems like Geb does not yet support JUnit 5: https://github.com/geb/issues/issues/539

So I fear we are blocked here for now. :/ Maybe this library could provide it's own `GebSpockReportingSpec`, but not sure if that would be the right approach.

[2020-05-28 18:48] tilmanginzel commented on #28
Hey @treyturner, @ssulei7, I have found an easy workaround. Spock provides a [`spock-junit4`](https://github.com/spockframework/spock/tree/master/spock-junit4/src/test/groovy/org/spockframework/junit4/junit) compatibility module. Simply adding the dependency provides `@Rule TestName` annotation support! Can you check if it to your `build.gradle` fixes the issue? I would then add some documentation

[2020-05-28 19:06] ssulei7 commented on #28
That ended up working for me!

[2020-06-01 13:26] tilmanginzel commented on #28
Thanks for checking! I have updated the README and will close this issue again. If you encounter anything else, feel free to reopen or create a new one. :)

[2020-06-01 13:26] #28 closed

[2020-06-01 13:40] tilmanginzel commented on #17
Yeah I agree that the 98% success rate is more representative and relevant than the 80% success rate. Just to clarify: I think you have mixed up specifications and features in your description. A single specification is a class which contains many [features](http://spockframework.org/spock/docs/1.0/spock_primer.html).

I am starting to wonder if those pie charts are really necessary, but I don't w

[2020-06-01 13:53] jacattau commented on #17
You are right, I definitely had those mixed up.  Must not have had my coffee yet :D

[2020-08-29 13:32] ShubhenduPandey commented on #17
@tilmanginzel
Have you finished developing this? Our client requirement is to show fixture success rate on the report dashboard. Thank you in advance.

[2020-08-29 15:31] tilmanginzel commented on #17
Hi @ShubhenduPandey, I would still prefer if those statistics would be added in spock-reports directly, see the issue which is linked above your comment. I don't want to deviate too much from spock-reports, as this might increase the chance of breaking changes in the future which are harder to maintain.

In the meantime, if it is urgent for you, I would also accept pull requests to add this to geb

[2020-08-29 15:50] ShubhenduPandey commented on #17
Geb-spock-report doesn't work for me. Getting error below error

[(Could not resolve all dependencies for configuration ':testCompile'.

  Searched in the following locations:
      https://repo1.maven.org/maven2/com/aoe/geb-spock-reports/0.2.6/geb-spock-reports-0.2.6.pom
      https://repo1.maven.org/maven2/com/aoe/geb-spock-reports/0.2.6/geb-spock-reports-0.2.6.jar
)]
I am currently using spock

[2020-08-29 19:41] tilmanginzel commented on #17
@ShubhenduPandey geb-spock-reports is published on jcenter, you need to add it as a repository in your `build.gradle`:
[code]

[2020-08-30 13:14] ShubhenduPandey commented on #17
Thanks @tilmanginzel Can you please merge pull requests to add this to geb-spock-reports.

[2020-08-30 13:20] tilmanginzel commented on #17
Currently there are [no pull request available](https://github.com/AOEpeople/geb-spock-reports/pulls?q=is%3Aopen+is%3Apr) to merge. Maybe there was a misunderstanding. I will accept a pull request if someone is willing to work on this, but I don't have the time to do it myself.

[2020-08-30 13:43] ShubhenduPandey commented on #17
I misunderstood it. Just wanted to know how you have calculated the total feature count in the first place? I didn't see a method that calculated total features in Utils.stats and Utils.aggregateStats methods.

[2020-08-30 14:36] tilmanginzel commented on #17
Correct, that is why I proposed to add these statistics to spock-reports: https://github.com/renatoathaydes/spock-reports/issues/193

[2020-11-16 21:34] treyturner opened #30 "Intermittent issues retrieving from Spring Libs Milestone"
Hi there,
My CI builds relying on geb-spock-reports 0.3.0-RC1 intermittently fail due to apparent issues pulling this library from Spring's milestone libs repo.

For instance, when I try to visit [https://repo.spring.io/libs-milestone/com/aoe/geb-spock-reports/](https://repo.spring.io/libs-milestone/com/aoe/geb-spock-reports/) right now, I get an empty directory.

![image](https://user-images.gith

[2020-11-17 17:50] treyturner commented on #30
Update from Spring gitter chat:

[code]

[2020-11-17 18:06] treyturner commented on #30
It appears I've found 0.3.0-RC1 on bintray here: https://bintray.com/aoepeople/libraries/geb-spock-reports/0.3.0-RC1 so now it's just a matter of figuring out where that's cached on my local Artifactory. It threw me off that mvnrepository only listed this artifact as available from Spring's Milestone repo: https://mvnrepository.com/artifact/com.aoe/geb-spock-reports?repo=spring-libs-milestone

[2020-11-17 20:48] #30 closed

[2020-11-18 19:22] tilmanginzel commented on #30
Hi @treyturner, interesting, I have never heard of repo.spring.io before and don't know how this library got there in the first place. [Bintray](https://bintray.com/aoepeople/libraries/geb-spock-reports) is the only officially supported repository for geb-spock-reports, so using this to resolve it should be much more stable. :)

[2021-02-04 19:32] seanfrenzel opened #31 "Images not Embedding when extending GebSpec"
As described reports will not be embedded when only extending GebSpec and need to extend GebReportingSpec to embed screenshots. This isn't documented on [renatoathaydes](https://github.com/renatoathaydes/spock-reports) project or this one and I had to troubleshoot to come to that conclusion.

Please add the relevant documentation to express this requirement.

edit: removed irrelevant information w

[2021-02-05 13:32] tilmanginzel commented on #31
Hi @seanfrenzel, thanks for the issue, that is a very good point I haven't thought about yet! I will update the readme in the coming days.

[2021-02-06 14:09] tilmanginzel commented on #31
@seanfrenzel I have updated the readme accordingly. :) I am going to close this issue, but if you think that the explanation can be improved, feel free to reopen it!

[2021-02-06 14:09] #31 closed

[2021-03-08 14:22] tmantis01 opened #32 "jcenter shutdown"
Hello,

the jcenter will shutdown (https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/).

Will this affect you?
Because in the documentation you only use the jcenter repository.

[2021-03-17 19:08] tilmanginzel commented on #32
Hi @tmantis01, sorry only got aware of this issue now. Yes, the shutdown will also affect this library. I am planning on migrating it to Maven Central in the coming weeks.

[2021-03-18 08:20] tmantis01 commented on #32
Thank you! :)

[2021-04-12 19:39] treyturner commented on #32
Ack, just had pipelines start failing today as an apparent warning about this shutdown:
[code]

[2021-04-23 20:40] jacattau opened #33 "Report not including an entire test class"
I am having an issue trying to understand why a certain test class that I have is not showing on the geb-spock-report.  I can see it on the regular JUnit report and I can see the failure screenshots when I dig into the folders but for some reason it is not showing on the geb-spock-report.  I can send over a zip file (privately) if you'd like to take a look at it.

[2021-04-25 12:13] tilmanginzel commented on #33
Hi @jacattau, this is odd. Can you test the default HtmlReporter from spock-reports and check if this report is showing the spec? To do this, take a look the default values here: https://github.com/renatoathaydes/spock-reports#default-properties-values

Specifically this value:
[code]

In case spock-reports is showing the spec just fine, the issue is likely in geb-spock-reports.
If you then still

[2021-04-26 13:11] jacattau commented on #33
Hi @tilmanginzel, I just sent you an email.  It may take a bit as I attached an 8mb zipfile to it.  Please get back to me with any update.  I appreciate you looking into this issue!

[2021-05-02 14:45] tilmanginzel commented on #32
Hi, all versions are now published to Sonatype / Maven Central: https://repo1.maven.org/maven2/com/aoe/geb-spock-reports/

[2021-05-02 14:45] #32 closed

[2021-05-07 14:02] jacattau commented on #33
Hi @tilmanginzel I confirmed the regular spock reports are including this test class, so as we discussed in the email it seems to have to do with the special characters in one of the test names.

[2021-05-07 16:17] tilmanginzel commented on #33
Hi @jacattau, thanks for the confirmation. I should probably find time for this in the coming weeks.

[2021-05-26 03:32] transentia opened #34 "Unexpected error while creating report for label"
I use gradle:

[code]

I run tests in batches, with the same test code each time, but different parameters for each batch. IE:

[code]

All my tests are passing. They report no errors.

The problem is: when I run my tests (via "gradle test") a whole batch may or may not suffer the following:

[code]

in this case, no per-spec html files are produced and the index file shows no tests run.

It is ap

[2021-06-20 17:08] ShubhenduPandey opened #35 "Reporting is shows incorrect counts when parallel execution is enabled"
Recently Spock added parallel test execution in Version 2.0-M4. I tried to test it and found out that geb-spock-report shows incorrect figure when parallel mode is on
Geb-Spock-Report screenshot
![screenshot-newtab-2021 06 20-22_35_14](https://user-images.githubusercontent.com/61691298/122682573-f1ef3a80-d217-11eb-96e2-98f4036016a6.png)
Gradle report
![screenshot-newtab-2021 06 20-22_31_48](https:

[2021-06-20 17:50] ShubhenduPandey commented on #35
Seems like issue is in Spock

[2021-08-12 14:51] KJHofstede opened #36 "Version 0.2.6 doesn't work with my setup (maven)"
I'm trying to use the geb-spock-reports library but it does not seem to work. There are files being produced, but I don't see an index.html. I'm using Geb 4.1, Spock 1.3 and Groovy 2.4.

This is what I included in my pom.xml:
[code]

This is how I configured the maven-surefire-plugin:
[code]

GebConfig.groovy:

[code]

The properties file in resources/META-inf/services is also pointing to the righ

[2021-09-16 14:41] #36 closed, assigned to nobody

[2021-09-16 14:41] KJHofstede commented on #36
Made a dumb mistake myself.

[2021-10-06 20:13] jacattau opened #37 "New release for Geb 5.0?"
Will you be having a new release to support Geb 5.0?

[2021-10-21 14:01] jacattau commented on #37
Is this project still supported?

[2021-10-25 12:44] tilmanginzel commented on #37
Hi @jacattau, sorry for the late reply. I am not actively maintaining the library anymore, no. Mainly because I have not used it (nor Groovy) myself in the past couple of years, and I simply don't have the time.

I will try to review and merge pull requests though, if there are any.

[2021-10-25 13:06] jacattau commented on #37
That is a major bummer, i think a lot of people rely on these.  Do we know if the RC version that is out there since May 2020 is fully working with Geb 5.0?

[2022-03-15 01:33] transentia commented on #34
I hopefully upgraded to:

[code]

Also

[code]

Still getting the same outcome as before, if trying to run in parallel:

[code]

[2022-03-15 01:39] transentia commented on #34
Also, sometimes, I get a partial report, ie:

![image](https://user-images.githubusercontent.com/105110/158288614-b12b3c65-e6b9-48ba-94cb-aed1aa67c36c.png)

104 tests successfully executed in parallel, 2 reported on :-(

The aggregated_report.json file is (in total):

[code]

[2022-04-10 10:32] transentia commented on #34
Been doing some more unsuccessful debugging.

1.
I can see that com.aoe.gebspockreports.GebReportUtils#readGebReport attempts to parse bad JSON.

A document always has extra chars at end, such as:

[code]

[code]

[code]

In each case, the document SHOULD end with that first '}' but there are extra chars. Can't work out how that gets there...I can't see anything obvious like a buffer that is being

[2022-06-05 08:00] renatoathaydes commented on #34
Do you still see this issue if you ask Gradle to run the tests without any concurrency?